<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.coderstory.FTool">
	
	<application
		android:icon="@mipmap/ic_launcher"
		android:label="Flyme6助手">
		
		<meta-data
			android:name="xposedmodule"
			android:value="true" />
		<meta-data
			android:name="xposeddescription"
			android:value="无限时长试用主题字体混搭，没有界面，打钩重启即用。" />
		<meta-data
			android:name="xposedminversion"
			android:value="54" />
	
	</application>

</manifest>